{% extends "base.html" %}

{% block link %}
    <link href="{{ url_for('static', filename='css/chat.css')}}?v={{config['VERSION']}}" rel="stylesheet">
{% endblock link %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script>
        // Инициализация пользовательских данных
        window.currentUser = {
            id: "{{ current_user.id }}",
            username: "{{ current_user.username }}"
        };
    </script>
{% endblock script %}

{% block style %}  {% endblock style %}

{% block content %}

    <div class="chat-container">
        <!-- Боковая панель с комнатами -->
        <div class="sidebar">

            <div class="sidebar-tabs">
                <button class="tab-btn active" data-tab="rooms">Комнаты</button>
                <button class="tab-btn" data-tab="dms">Личные сообщения</button>
            </div>

            <!-- Список комнат -->
            <div class="tab-content active" id="rooms-tab">
                <button onclick="showCreateRoomInput()">+ Создать тему чата</button>
                <ul id="rooms-list"></ul>
            </div>

            <!-- Список диалогов -->
            <div class="tab-content" id="dms-tab">
                <div class="dm-header">
                    <h4>Диалоги</h4>
                </div>
                <ul id="dm-conversations"></ul>
            </div>

            <!-- Форма для создания комнаты -->
            <div id="room-create">
                <input type="text" id="new-room-name" placeholder="тема чата" required>
                <div class="error-message"></div>
                <button onclick="submitCreateRoom()">OK</button>
            </div>
        </div>

        <!-- Основное содержимое чата -->
        <div class="main-content">
            <h1>Чат: <span id="current-room">general_chat</span></h1>

            <div id="users-list">
                <h3>Участники: (<span id="online-count">0</span>):</h3>
                <ul id="active-users"></ul>
            </div>

            <div id="chat-box"></div>

            <form id="message-form">
                <input type="text" id="message-input" placeholder="Напишите сообщение..." required>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>




{% endblock %}
